* {
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

.container {
   max-width: 1145px;
   margin: 0 auto;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;700&display=swap");
@import "base/normalize";
@import "base/variables";
@import "components/buttons";
@import "components/promo";
@import "components/header";
@import "components/benefits";
@import "components/our-work";
@import "components/sentence";
@import "components/prices";
@import "components/consultation";
@import "components/scheme";
@import "components/reviews";
@import "components/questions";
@import "components/map";
@import "components/footer";
@import "components/up";
