.up {
   width: 40px;
   height: 40px;
   position: fixed;
   top: 80%;
   right: 60px;
   display: none;
   transition: all 3s;
   svg {
      fill: $main-color;
      opacity: 0.8;
   }
}

.hide {
   display: none;
}
.show {
   display: block;
}
